@model Blog.Models.Post

<h1>Tạo bài viết</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="AuthorId" class="form-control" value="@ViewData["UserId"]" hidden />
            @*
            <div class="form-group">
            <label asp-for="CreateAt" class="control-label"></label>
            <input asp-for="CreateAt" class="form-control" />
            <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="UpdateAt" class="control-label"></label>
            <input asp-for="UpdateAt" class="form-control" />
            <span asp-validation-for="UpdateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Slug" class="control-label"></label>
            <input asp-for="Slug" class="form-control" />
            <span asp-validation-for="Slug" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input name="imageFile" class="form-control" type="file"/>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="textAreaCreatePost"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <script>
                tinymce.init({
                    selector: '#textAreaCreatePost'
                });
            </script>
            <div class="form-group mt-2">
                <button type="submit" value="Create" class="btn btn-primary">Đăng</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
