@model CreatePostModel

<script src="~/lib/tinymce/tinymce.min.js"></script>
<h1>Tạo bài viết</h1>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Thumbnail" class="control-label"></label>
                <input asp-for="Thumbnail" class="form-control" type="file" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="editor-container" style="height:300px"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <button type="submit" value="Create" class="btn btn-primary">Đăng</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    tinymce.init({
        selector: '#editor-container',
        plugins: 'link lists table image codesample pagebreak',
        toolbar1: 'undo redo | styles | bold italic underline strikethrough | numlist bullist alignleft aligncenter alignright | link image codesample table pagebreak',
        menubar: false,
        branding: false,
        statusbar:false,
        a11y_advanced_options: true,
        file_picker_callback: (callback, value, meta) => {
            showOpenFilePicker()
        },
        file_picker_types: 'file image media'
    });
</script>