@model ChangePasswordModel

<h1>Quên mật khẩu</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="UserId" />
            <div class="form mb-3">
                <label asp-for="OldPassword" class="form-label">Mật khẩu cũ</label>
                <input asp-for="OldPassword" class="form-control" autocomplete="password" aria-required="true" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form mb-3">
                <label asp-for="NewPassword" class="form-label">Mật khẩu mới</label>
                <input asp-for="NewPassword" class="form-control" autocomplete="password" aria-required="true" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="password" aria-required="true" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đổi mật khẩu</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
